doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
  body

    include nav.jade

    .container
      .row
        .span8
          block content
        .span4
          <img src='#{gravatar}' style='margin-bottom: 1em' class='img-polaroid'>
          h4 Hi, I'm Ev Bogue!
          p This is a simple lifestream publishing app I built using Node.js and Express. 
            a(href'https://github.com/evbogue/stream.evbogue.com') View source at Github.

    script(type='text/css', href='/bootstrap/css/bootstrap.js')
    script(type='text/css', href='http://code.jquery.com/jquery.js')